/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v11/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUgGs5qofYGyA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v11/QGY9z_wNahGAdqQ43Rh_ebrnlwyYfEPxPoGUgGs5pIfY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v11/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXBiEJpp_c.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v11/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXBi8Jpg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Kalnia */
@font-face {
 
  font-family: 'Golos Text', sans-serif;
  font-family: 'Kalnia', serif;
  src: url(https://fonts.googleapis.com/css2?family=Golos+Text&family=Kalnia&display=swap);
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap);
}

.menu{
  list-style-type: none;
  margin: 0vh;
  padding: 0vh;
  background-color: rgb(245, 245, 220);
  overflow: hidden;
  display: flex;
  color:black;
  /* position:fixed; */
}

.menu a{
  float: left;
  display: block;
  color: rgb(0, 219, 235);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container{
  width: 100%;
  justify-content: center;
  padding-top: 130px;
}
.container_1{
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-image: linear-gradient(45deg, rgba(145, 130, 1, 0.8) 0%, rgba(94, 22, 112, 0.8) 100%);
  width: 90%;
  transition:0.1s ease-in-out;
  box-shadow: 0px 0px 10px rgb(150,150,150);
}
.container_1:hover, .container_Y:hover, .container_Y3:hover{
  width: 100%;
}
.container_2{
  width: 75vw;
  margin-top: 2vw;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_3{
  width: 60%;
}

.container_Y{
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(24, 126, 128, 0.8) 0%, rgba(189, 140, 34, 0.8) 100%);
    width: 90%;
    transition:0.1s ease-in-out;
    box-shadow: 0px 0px 10px rgb(150,150,150);
    color: white;
}

.container_Y2{
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  color:black;
  width: 90%;
  transition:0.1s ease-in-out;
}

.container_Y3{
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background: rgb(34,193,195);
  background: linear-gradient(45deg, rgb(54, 57, 245) 0%, rgb(187, 29, 29) 100%);
  width: 90%;
  transition:0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgb(150,150,150);
  color:white;
}

/*  CSS para  */
.header{
  /* 
  background-image: linear-gradient(90deg, rgb(77, 143, 117)0%, rgb(151, 78, 78) 100%);
   */
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vw;
  position:fixed;
  width: 100%;
}
.footer{
  padding: 15px;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
}
.footerL{
  width: 35%;
  text-align: justify;
}
.footerR{
  width: 35%;
  text-align: right;
}
.content{
  width: 70%;
  text-align: justify;
}

/* Elementos */
.image{
  margin: 1vw;
}
.image_1{
  width: 30%;
  height: 30%;
  transform: translate(0,100);
}
.imageCircle{
  border-radius: 1000px;
}
.titulos{
  color:white;
}
.nombres:hover{
  text-shadow: 0px 0px 5px rgb(220,220,220);
}
.link_clear{
  text-decoration: none;
  color: white;
}
.link_clear:hover{
  text-shadow: 0px 0px 5px rgb(220,220,220);
}
.btn{
  margin-right: 1vw;
  padding: 5px;
  font-family: Consolas;
  color:white;
  background-color: transparent;
  border: 0px;
  font-size:16px;
  outline: none;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}
.btn:hover{
  background-color: rgba(200,200,200, 0.3);
  text-shadow: 0px 0px 5px white;
}
.btn:active{
  transform: scale(1.1);
}
.btnActive{
  margin-right: 5px;
  padding: 5px;
  font-family: Consolas;
  color:white;
  background-color: rgba(200,200,200, 0.3);
  text-shadow: 0px 0px 5px white;
  border: 0px;
  font-size:16px;
  outline: none;
  transition: 0.1s ease-in-out;
  border-radius: 8px;
}
.division{
  margin-top: 3vw;
  margin-bottom: 3vw;
  background-image: linear-gradient(90deg, rgb(77, 143, 117)0%, rgb(151, 78, 78) 100%);
  width: 95%;
  height: 5px;
  border: none;
  transition: 0.3s ease-in-out;
}


@media screen and (max-width: 600px) {
  .container{
    padding-top: 180px;
  }
  .header{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer{
    height: auto;
    padding: 5%;
  }
  .image{
    width: 70vw;
    height: 8vh;
  }
  .footerL{
    width: 45%;
  }
  .container_2{
    width: 75vw;
    margin-top: 5vw;
    text-align: justify;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
  }
  .container_3{
    width: 100%;
  }
  .image_1{
    width: 100%;
  }
  .imageCircle{
    width: 80%;
    height: 80%;
  }
  .btn{
    margin-bottom: 10px;
  }
  .btn:active{
    transform: scale(1.0);
  }
}